input[type="text"] {
    border: 2px solid grey;
    border-radius: 4px;
    padding: 10px 10px;
    width: 354px;
    display: block;
    margin-bottom: 10px;
    background-color: red;
}

input[type="text"]:focus {
    border: 3px solid #555;
}

input[type="button"] {
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
}

input[type="button"]:hover {
    background-color: #0051ff;
}

input[type="button"]:active {
    background-color: green;
    transform: translateY(2px);
}